body {

    padding-top: 48px;

}

header {

    width: 100vw;
    height: 100vh;

    text-align: center;

    display: flex;

    background-image: url("/Recursos/Imagenes/fondo.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.contentH h1, .contentH p {

    color: white;

}

h1, .contentH p {

    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);

}


.contentH {

    font-size: 250%;
    margin: 8% auto;

}

.contentH a {
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    /* Posicion y tamaño */
    display: block;
    width: 200px;

    /* padding y Margen */
    padding: 0.5em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    /* Estilo del texto */
    color: black;
    text-decoration: none;
    font-size: 0.8em;

    /* Estilo del borde */
    border: 3px solid white;
    border-radius: 100px;
    background-color: #f1b463;
    

}

section {

    width: 95%;
    margin: 10px auto;

}

@media screen and (max-width: 750px){

    .contentH {

        font-size: 175%;
        margin: 15% auto;
    
    }

    .contentH a {

        font-size: 1em;

    }

}